<% include partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Test1</h3>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>user</th>
                            <th>count_user</th>
                            <th>time_avg</th>
                            <th>time_range</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% table1.forEach(function(d) { %>
                        <tr>
                            <td><%= d.user %></td>
                            <td><%= d.count_user %></td>
                            <td><%= d.time_avg %></td>
                            <td><%= d.time_range %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Test2</h3>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>name_service</th>
                            <th>count_service</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% table2.forEach(function(d) { %>
                        <tr>
                            <td><%= d.name %></td>
                            <td><%= d.count_service %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Test3</h3>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>name_user</th>
                            <th>service_name</th>
                            <th>count_service</th>
                            <th>time_avg</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% table3.forEach(function(d) { %>
                        <tr>
                            <td><%= d.user %></td>
                            <td><%= d.service %></td>
                            <td><%= d.count_service %></td>
                            <td><%= d.time_avg %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

<% include partials/footer %> 